* {
    box-sizing: border-box;
}


.container, .container-top ,.container-center, .container-bottom {
    display: flex;
    justify-content: space-between;
}

.container {
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    min-width: 1000px;
    min-height: 700px;
    border: 1px dotted red;
}

.container-center {
    align-items: center;
}

.item {
    min-width: 160px;
    min-height: 120px;
    height: 18%;
    width: 18%;
    border-radius: 10px;
    background-color: deepskyblue;
    border: 1px solid black;
}

.main-service {
    height: 25%;
    width: 25%;
    min-width: 320px;
    min-height: 240px;
    
}

.container-top .sub-service, .container-bottom .sub-service {
    margin: 0 10%;
}

header {
    border: 2px solid black;
    height: 5%;
    min-height: 50px;
    min-width: 1000px;
    margin-bottom: 10px;
}

.logo {
    background-color: aquamarine;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    float: right;
    margin-right: 10%;
    
}