/*------------------------------main settings*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body {
    background: black;
}

section {
  /*  background-image: url("../images/background2.jpg");*/
    background-repeat: no-repeat;
    background-position: center; 
    /*background-attachment:fixed; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
    
}
section.one::before{
    content: " ";
    background-image: url("../images/background-s1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
    -webkit-filter: blur(3px);
    filter: blur(5px);  
    
    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 100%;
}



/*------------------------------Layout settings*/
.container, .container-top ,.container-center, .container-bottom {
    display: flex;
    justify-content: space-between;
    
}

.container {
    flex-direction: column;
    margin: 0 auto;
    min-height: 90%;
    min-width: 80%;
    
}

.container-1 {
    justify-content: center;
    align-items: center;
}
/*------------------------------section 1 layout settings*/
.sitename {
    display: flex;
    align-items: baseline;
    margin-top:5vh;
    
}
/*------------------------------section 1 text veiw*/
.sitename span{
    font-size: 10vh;
    letter-spacing: 10px;
    color: white;
    text-shadow: 0px 0px 6px white;
    text-transform: uppercase;
}
.sitename span:hover {
    cursor: default;
}

/*------------------------------section 1 'create' veiw*/
.sitename span:first-child{
    border: 10px solid white;
    padding-left: 5px;
    box-shadow: inset 0px 0px 6px white;
    
}

.sitename span:nth-child(3), .sitename span:nth-child(4), .sitename span:nth-child(5){
    font-family: 'Comic Sans MS', sans-serif;
}


/*------------------------------section 1 icon settings*/
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sitename span:last-child {
    font-family: 'Glyphter';
    align-self: center;
    padding-left: 0.3em;
}

/*--------------------------------------------section 1 button-*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    opacity: 0.7;
    height: 5em;
    width: 5em;
    background-color: rgba(100,100,100,0.5);
    border-radius: 50%;
    box-shadow: 0px 0px 7px 5px black;
    transition: all 1s;
    
    
}

.button-arrow {
    border-bottom: 5px solid grey;
    border-right: 5px solid grey;
    width: 2.3em;
    height: 2.3em;
    transform: rotate(45deg) translate(-15%, -15%);
    
    
}

/*---------------------------Section 1 ::after------------------------*/
section.one::after {
    
    width: 80vw;
    height: 55vh;
    position: absolute;
    content: " ";
    margin: 0 10%;
    top: 35vh;
    border: 2px solid black;
    background: url("../images/slider_one/banner-web-design-full.jpg"); 
                
    background-size: cover;
    animation: slide 60s linear infinite;
    
    -webkit-box-shadow: 0px 0px 6px 4px black;
    -moz-box-shadow: 0px 0px 6px 4px black;
    box-shadow: 0px 0px 6px 4px black;
    border: 1px solid black;
    transform: scale(0);
    opacity: 0;
    
    transition: all 3s;
    
    border-radius: 20px;
}

@keyframes slide {
    
    100%{
        background-position: -6000px 0px;
    }
}

/*-------------------------------section 1 ::after animate ---------------*/

section.one.full::after {
    transform: scale(1);
    opacity: 1;
    -moz-transition: transform 3s opacity 3s;
    -webkit-transition: transform 3s opacity 3s;
    transition: transform 3s opacity 3s;
        
}
section.one.nofull::after {
    transform: scale(0);
    opacity: 0;
    -moz-transition: transform 1s opacity 2s;
    -webkit-transition: transform 1s opacity 2s;
    transition: transform 1s opacity 2s;
}

/*--------------------------section 1 button effects----------------*/

.button-highlight
{
    -webkit-box-shadow: 0px 0px 5px 5px white;
    -moz-box-shadow: 0px 0px 5px 5px white;
    box-shadow: 0px 0px 5px 5px white;
    
    -moz-transition: box-shadow 1s; /* Firefox */
    -webkit-transition: box-shadow 1s; /* Safari and Chrome */
    -o-transition: box-shadow 1s; /* Opera */
    transition: box-shadow 1s;
    
    -webkit-transform: scale(1.2) rotate(180deg);
    -moz-transform: scale(1.2) rotate(180deg);
    transform: scale(1.2) rotate(180deg);
    
    -moz-transition: transform 1s; /* Firefox */
    -webkit-transition: transform 1s; /* Safari and Chrome */
    -o-transition: transform 1s; /* Opera */
    transition: transform 1s;
    
    
}
.button-highlight-end
{
    -webkit-box-shadow: 0px 0px 5px 5px black;
    -moz-box-shadow: 0px 0px 5px 5px black;
    box-shadow: 0px 0px 5px 5px black;
    -moz-transition: box-shadow 1s; /* Firefox */
    -webkit-transition: box-shadow 1s; /* Safari and Chrome */
    -o-transition: box-shadow 1s; /* Opera */
    transition: box-shadow 1s;
    
    transform: scale(1);
    transition: transform 1s;
}

/*------------------------section 1 button amd menu click------------*/

.click {
    transform: translateY(-30vh);
    transition: transform 2s;
    
}
.click-end {
    
    transition: transform 2s;
}

/*------------------------------SECTION 2---------------------*/
/*-----------------------------layout ------------------------*/

section.two {
    height: 120vh;
    
}

.container-2 {
    color: white;
    justify-content: center;
    width: 45vh;
    margin: auto;
    
}

/*-----------------------------Design----------------------------*/

.container-2 h1 {
    font-size: 16vh;
    font-weight: bold;
    font-family:  'Bebas Neue', sans-serif; 
}
.container-2 h2 {
    font-size: 12vh;
    font-weight: normal;
    font-family:  'Bebas Neue', sans-serif; 
}
.container-2 h3 {
    font-size: 9vh;
    font-weight: normal;
    font-family:  'Bebas Neue', sans-serif; 
}
.container-2 h4 {
    font-size: 4vh;
    text-align: left;
    color: #c1c3ff;
    line-height: 4vh;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    line-height: 6vh;
    font-weight: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
/*-----------------------------rainbow line------------------*/

.hr-item {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ff3535 0%, #ffb22d 19%, #f7df00 37%, #26ff6c 56%, #268bff 76%, #8b3cff 100%) repeat scroll 0 0;
    border: medium none;
    height: 1px;
    margin: 4vh 0 4vh -2vw;
    width: 30vw;
}

/*--------------------------------Section 2 animation-----------------*/


.line {
    opacity: 0;
    transition: all 0.5s;
    
    
}

.line-active {
    transform: translate(10vh, -5vh) scale(1.1);
    opacity: 1;
}

/*------------------------------Section 2 shape-------------------------*/
section.two::after {
    position: absolute;
    content: " ";
    bottom: -126.9vh;
    width: 0; 
    height: 0; 
    border-top: 7vh solid black;
    border-right: 98.7vw solid transparent;
   
    
}

/*--------------------------------SECTION THREE--------------------------------*/

/*---------------section 3 background------------------------------------------*/

section.three {
    background: linear-gradient(359deg, #3b3064, #64b3ee);
    background-size: 400% 400%;

    -webkit-animation: BackgroundAnimate1 15s ease infinite;
    -moz-animation: BackgroundAnimate1 15s ease infinite;
    animation: BackgroundAnimate1 15s ease infinite;
    
    height: 110vh;
}

@-webkit-keyframes BackgroundAnimate1 {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes BackgroundAnimate1 {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes BackgroundAnimate1 {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}


/*-----------------------------------Layout-------------------------------*/

section.three > .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 5vh;
}

.container-left {
    height: 91vh;
    margin-left: 15%;
}

.container-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    
    height: 91vh;
    margin-right: 15%;
    
    overflow: hidden;
   
   
}

.container-right ul:first-of-type {
    margin-top: 2vh;
    
}

.container-right ul:last-of-type {
    margin-bottom: 7vh;
    
}


/*-----------------------------Section 3 Left part design--------------------------*/

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
    height: 25vh;
    width: 25vh;
    margin-bottom: 5vh;
    border-radius: 50%;
    border: 3px solid white;
    
    text-align: center;
    font-size: 2vh;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: normal;
}


.desc p {
    font-family: 'Glyphter';
    font-size: 4vh;
    margin-top: 9.8vh;
}

.desc p:hover {
    cursor: default;
}

.item:hover {
    cursor: default;
}

/*--------------------------------Section 2 right side design-------------------------*/

.container-right ul {
    list-style: none;
    border-left: 3px solid #e1e3ff;
    padding-left: 2vw;
    
    transition: transform 0.3s;
        
}

.container-right ul h2 {
    font-family: 'Bebas neue', sans-serif;
    font-size: 3.5vh;
    line-height: 5vh;
    color: #e1e3ff;
}

.container-right ul h2:hover {
    cursor: default;
}

/*-----------------------------section 3 background text-------------------------------*/

section.three::after {
    content: "ПРОЦЕСС";
    position: absolute;
    right: 96vw;
    margin-top: -90vh;
    
    transform-origin: right top;
    transform: rotate(-90deg);
    
    opacity: 0.15;
    font-family: "Bebas neue", sans-serif;
    font-weight: bold;
    color: lightblue;
    font-size: 32vh;
    z-index: 2;
}

section.three:hover:after {
    cursor: default;
}

/*------------------------------hightlight effect on hover via script-main.js for section 2*/

.highlight
{
    background-color: white;
}

.highlight-icon {
    color: #5203cb;
}

.hidden-ul {
    transform: translateX(30vh);
}


/*-------------------------------SECTION 4-------------------------------------------*/

/*---------------------------layout and background---------------------*/
section.four {
    border-top: 3px solid black;
    border-bottom: 1px solid #D3E6EB;
    background: white;
    
    background: rgba(65,101,155,1);
    background: -moz-linear-gradient(top, rgba(65,101,155,1) 0%, rgba(65,101,155,1) 14%, rgba(212,231,236,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,101,155,1)), color-stop(14%, rgba(65,101,155,1)), color-stop(100%, rgba(212,231,236,1)));
    background: -webkit-linear-gradient(top, rgba(65,101,155,1) 0%, rgba(65,101,155,1) 14%, rgba(212,231,236,1) 100%);
    background: -o-linear-gradient(top, rgba(65,101,155,1) 0%, rgba(65,101,155,1) 14%, rgba(212,231,236,1) 100%);
    background: -ms-linear-gradient(top, rgba(65,101,155,1) 0%, rgba(65,101,155,1) 14%, rgba(212,231,236,1) 100%);
    background: linear-gradient(to bottom, rgba(65,101,155,1) 0%, rgba(65,101,155,1) 14%, rgba(212,231,236,1) 100%);
    
    height: 120vh;
    
    position: relative;
    z-index: 0;
    
    overflow: hidden;
}

section.four:hover {
    cursor: default;
}

section.four .container {
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

section.four .container-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

section.four .container-row:first-child {
    margin-bottom: 10vh;
}

.item-sell:first-child {
    margin-right: 10vh;
}

/*----------------------------------------item settings---------------------*/

.item-sell {
    overflow: hidden;
    position: relative;
    
    width: 54vh;
    height: 36vh;
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    -webkit-box-shadow: 0px 0px 3px 3px black;
    -moz-box-shadow: 0px 0px 3px 3px black;
    box-shadow: 0px 0px 3px 3px black;
    
    
}

.item-sell::before {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 54vh;
    height: 36vh;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    opacity: 0.85;
    
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}


.container-row:first-child .item-sell:nth-of-type(1)::before {
    background-image: url("../images/images-sell/visit.jpg");
}

.container-row:first-child .item-sell:nth-of-type(2)::before {
    background-image: url("../images/images-sell/blog.jpg");
}

.container-row:last-child .item-sell:nth-of-type(1)::before {
    background-image: url("../images/images-sell/shop.jpg");
}

.container-row:last-child .item-sell:nth-of-type(2)::before {
    background-image: url("../images/images-sell/unic.jpg");
}


/*----------------------------------------desc-sell settings---------------------*/

.desc-sell {
    position: absolute;
    left: 0;
    bottom: -31vh;
    z-index: 100;
    height: 36vh;  
    transition: all 1s;
}

.desc-sell p{
    display: block;
    position: relative;
    z-index: 0;
    text-align: center;
    width: 54vh;
    line-height: 5vh;
    
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vh;
}

.desc-sell p:first-child{
    border-top: 2px solid black;
    border-bottom: 1px solid grey;
}

.desc-sell::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40vh;
    width: 60vh;
    background: lightgrey;
    z-index: -1;
    opacity: 0.7;
    
}

.desc-sell:hover {
    cursor: pointer;
    
}

ul.product {
    padding-top: 4vh;
    padding-bottom: 0.3vh;
    padding-left: 2vw;
    
    font-family: 'Open sans', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    
    list-style: disc;
}

ul.product + p{
    font-family: 'Open sans', sans-serif;
    color: crimson;
        
}
/*-------------------------------Section 4 button move---------------------------*/

.move-sell {
    transform: translateY(-31.5vh);
}

.bg-move-sell::before {
    transform: scale(1.2) rotate(1deg);
    
}

/*---------------------------------text background for section 4----------------*/

section.four::after {
    content: "УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ УСЛУГИ";
    position: absolute;
    top: -100vh;
    right: -100vw;
    width: 150vw;
    
    word-wrap: normal;
    transform-origin: left top;
    transform:rotate(45deg);
    
    opacity: 0.1;
    font-family: "Bebas neue", sans-serif;
    font-weight: bold;
    color: lightblue;
    font-size: 16vh;
    z-index: -1;
   
}

/*----------------------------------Section 5------------------------------------*/

/*----------------------------------Section 5 layout and background-----------------*/

section.five {
    position: relative;
    z-index: 1;
}
section.five::before {
    background: rgba(212,231,236,1);
    background: -moz-linear-gradient(top, rgba(212,231,236,1) 0%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,231,236,1)), color-stop(59%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(212,231,236,1) 0%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(212,231,236,1) 0%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,231,236,1) 0%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(212,231,236,1) 0%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
        
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

section.five .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

/*-------------------------------section 5 container left-------------------------*/

.five .container-left-sell {
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    font-size: 8vh;
    color: cadetblue;
    text-shadow: 0 0 3px grey;
    
    text-align: right;
    
    padding-top: 7.2vh;
    width: 40%;
   
}

.five .container-left-sell h1 {
    padding-right: 2vw;
    
    
}

/*------------------------------section 5 container right----------------------------*/

.five .container-right-sell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10vh;
    
    width: 60%;
}

/*------------------------------form settings---------------------------------*/

.five .container-right-sell form {
    padding-left: 2vw;
}

.form-item {
    border: 0;
    padding-top: 0.5vh;
    padding-bottom: 0;
    padding-left: 0.5vw;
    height: 8vh;
    width: 40vw;
    margin-bottom: 3vh;
    
    font-family: "Open Sans", sans-serif;
    font-size: 3.5vh;
    color: cadetblue;
    -webkit-text-shadow: 0 0 1px lightgrey;
    -moz-text-shadow: 0 0 1px lightgrey;
    text-shadow: 0 0 1px lightgrey;
    
    background: #bfeaf9;
    
    border-radius: 10px;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mail_text {
    height: 40vh;
    font-size: 2.5vh;
    resize: none;
    text-align:justify;
}

.form-submit {
    background-color: #8Db8c6;
    text-transform: uppercase;
    text-shadow: none;
    
    -webkit-transition: all: 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    text-align: center;
    font-weight: bold;
}

/*--------------------------------section 5 form focus effects-------------------*/

.form-submit:hover {
    cursor: pointer;
    background-color: #4D7896;
    border: 0;
}

.form-item:focus {
    outline: none;
    
    box-shadow: 0px 0px 2px 1px green;
}

.dark::before {
    -webkit-filter: brightness(20%);
    -moz-filter: brightness(20%);
    filter: brightness(20%);
}

.notextshadow {
    text-shadow: none;
}

/*-----------------------------------FOOTER--------------------------------------*/
footer h1 {
    color: white;
}
footer {
    background: red;
}
