.container, .container-top ,.container-center, .container-bottom {
    display: flex;
    justify-content: space-between;
}

.container {
    flex-direction: column;
}

.item {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: deepskyblue;
}